<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NetAcademia OopRestaurant201710</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Bootstrap navbar-t használ az ASP.NET MVC alkalmazás template a felső menü kialakítására*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header"> @* a "home" link és a hamburger menü *@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> @* hamburger menü *@
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> @* hamburger menü vége *@
                @Html.ActionLink("OopRestaurant201710", "Index", "MenuItems", new { area = "" }, new { @class = "navbar-brand" }) @* home link *@
            </div>
            <div class="navbar-collapse collapse"> @* a menüsáv azon része, ami eltűnik, ha jön a hamburger menü*@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Étlap", "Index", "MenuItems")</li>
                    @if (Request.IsAuthenticated)
                    { @* a kategóriák link csak akkor látszik, ha a felhasználó be van jelentkezve*@
                        <li>@Html.ActionLink("Kategóriák", "Index", "Categories")</li>
                    }
                    <li>@Html.ActionLink("Termek", "Index", "Locations")</li>
                </ul>
                @Html.Partial("_LoginPartial") @* ez a rész mutatja a bejelentkezéssel kapcsolatos linkeket*@
            </div>
        </div>
    </div> @*bootstrap navbar vége*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NetAcademia OopRestaurant201710</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
